.place__paragraphs {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .place__paragraphs {
    margin: 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraphs {
    max-width: 288px;
  }
}
