.cover {
  padding: 0;
  margin: 0 48px 92px;
  background-image: url('../../images/поезда.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 92%;
  max-height: 740px;
  padding-bottom: 57.5%;
  font-style: normal;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-bottom: 92px;
    width: 100%;
    padding-bottom: 62.5%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    margin-bottom: 64px;
  }
}
