.place {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  display: grid;
  column-gap: 40px;
  row-gap: 48px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 900px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    margin-bottom: 50px;
    row-gap: 32px;
  }
}



