.footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 745px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }
}
